# Виртуальное окружение
venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Модели и данные (если большие)
*.pkl
*.h5
*.model
*.npy

# AutoML артефакты
AutogluonModels/
baseline_output/
catboost_info/

# Результаты и визуализации
submission_*.csv
*.png

